{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% block head_title %}
    {% trans "Confirm Email Address" %}
{% endblock head_title %}
{% block body %}

<div class="flex justify-center text-white text-lg">
    {% element h1 %}
        {% trans "Confirm Email Address" %}
    {% endelement %}
</div>

<div class="flex justify-center text-white">
</div>



<div class="relative flex flex-col items-center justify-center overflow-hidden py-6 sm:py-12 mb-30 bg-white">
  <div class="max-w-xl px-5 text-center">


    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        {% if can_confirm %}
            {% element p %}
                {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}
            {% endelement %}
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
                {% slot actions %}
                    {% csrf_token %}
                    {{ redirect_field }}

                    <button type="submit" class="w-full mt-10 py-3 bg-orange-600 rounded-md
                    font-medium text-white uppercase
                    focus:outline-none hover:shadow-none">
                    {% trans 'Confirm' %}
                    </button>
                
                    {% endslot %}
            {% endelement %}
        {% else %}
            {% element p %}
                {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
            {% endelement %}
        {% endif %}
    {% else %}
        {% url 'account_email' as email_url %}
        {% element p %}
            {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}
        {% endelement %}
    {% endif %}


{% comment %} <div class="flex justify-center text-white">
</div>



<div class="relative flex flex-col items-center justify-center overflow-hidden py-6 sm:py-12 mb-30 bg-white">
  <div class="max-w-xl px-5 text-center">
    <h2 class="mb-2 text-[42px] font-bold text-zinc-800">
        メールを確認してください
        </h2>
        <p class="mb-2 text-lg text-zinc-500">
          {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}

        </p>
        <p class="mb-2 text-lg text-zinc-500">
          {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}

        </p> {% endcomment %}
      </div>
    </div>
{% endblock body %}