{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block body %}


    <div class="w-full mx-auto">

        <p class="flex justify-center sm:mt-8 mt-3 sm:px-44 text-gray-200 text-4xl sm:text-6xl font-semibold tracking-tighter">
          {% trans "Change Password" %}
        </p>

        <p class="flex justify-center mb-10 sm:mt-8 mt-2.5 text-gray-200 sm:px-72  sm:leading-loose text-lg font-normal tracking-tighter">
          {% trans 'Your password is now changed.' %}
        </p>
      </div>
      <div class="flex justify-center">
        <a href="{% url 'account_login' %}"> 
          <button class="btn overflow-hidden relative w-64 bg-orange-200 text-white py-4 px-4 rounded-xl font-bold uppercase -- before:block before:absolute before:h-full before:w-1/2 before:rounded-full before:bg-orange-400 before:top-0 before:left-1/4 before:transition-transform before:opacity-0 before:hover:opacity-100 hover:text-orange-200 hover:before:animate-ping transition-all duration-300">
          <span class="relative text-lg text-orange-700">ログイン</span>
          </button>
        </a>
      </div>
{% endblock body %}