{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block body %}

<div class="flex flex-col h-screen bg-gradient-to-b from-teal-700 to-teal-200">
  <div class="grid place-items-center mx-2 my-20 sm:my-auto" x-data="{ showPass: true }">
    <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12
    px-6 py-10 sm:px-10 sm:py-6
    bg-white rounded-lg shadow-md lg:shadow-lg">
    {% if token_fail %}
    {% trans "Bad Token" %}
    {% url 'account_reset_password' as passwd_reset_url %}
    {% element p %}
        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    {% endelement %}
    {% else %}
      <div class="text-center mb-4">
        <h6 class="font-semibold text-orange-600 text-xl">{% trans "Change Password" %}</h6>
      </div>

      {% element form method="post" action=action_url %}

      {% csrf_token %}
      <input type="password" name="password1" placeholder="新しいパスワード" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1" class="shadow-sm rounded-md w-full px-3 py-2 my-4 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
      
      <input type="password" name="password2" placeholder="新しいパスワード (再入力)" required id="id_password2" class="shadow-sm rounded-md w-full px-3 py-2 my-4 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
      <button name="action" type="submit" class="w-full py-3 bg-orange-600 rounded-md
      font-medium text-white uppercase
      focus:outline-none hover:shadow-none"> パスワード変更 </button>

      {% endelement %}
      {% element form method="post" action=action_url %}
      {% slot body %}
          {% csrf_token %}
          {{ redirect_field }}
          <p>
            あなたの他の個人情報と似ているパスワードにはできません。<br>パスワードは最低 8 文字以上必要です。<br>よく使われるパスワードにはできません。<br>数字だけのパスワードにはできません。
          </p>
          <input type="password" name="password1" placeholder="新しいパスワード" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1" class="shadow-sm rounded-md w-full px-3 py-2 my-4 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
          <input type="password" name="password2" placeholder="新しいパスワード (再入力)" required id="id_password2" class="shadow-sm rounded-md w-full px-3 py-2 my-4 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
      {% endslot %}
      {% slot actions %}
          {% element button type="submit" name="action" %}
          <button name="action" type="submit" class="w-full py-3 bg-orange-600 rounded-md
          font-medium text-white uppercase
          focus:outline-none hover:shadow-none"> パスワード変更 </button>
          {% endelement %}
      {% endslot %}
  {% endelement %}
    </div>
  </div>
</div>
{% endif %}
{% endblock body %}

