{% extends "base.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block body %}

<script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
<div class="flex flex-col h-screen bg-gradient-to-b from-teal-700 to-teal-200">
  <div class="grid place-items-center mx-2 my-20 sm:my-auto" x-data="{ showPass: true }">
    <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12
        px-6 py-10 sm:px-10 sm:py-6
        bg-white rounded-lg shadow-md lg:shadow-lg">
      <div class="text-center mb-4">
          <h6 class="font-semibold text-orange-600 text-xl">{% trans "Password Reset" %}</h6>
      </div>

      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p>パスワードをお忘れですか? <br>パスワードをリセットするために、メールアドレスを入力してください。</p>
      {% url 'account_reset_password' as reset_url %}
      {% element form form=form method="post" action=reset_url %}
      {% slot body %}
      {% csrf_token %}
      
        <input type="email" name="email" placeholder="メールアドレス" autocomplete="email" maxlength="320" required aria-invalid="true" id="id_email" class="shadow-sm rounded-md w-full px-3 py-2 my-4 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
      
      {% endslot %}
      {% slot actions %}
      <button type="submit" class="w-full py-3 bg-orange-600 rounded-md
      font-medium text-white uppercase
      focus:outline-none hover:shadow-none"> パスワードをリセット </button>
    
      {% endslot %}
      {% endelement %}
      {% element p %}
      {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
      {% endelement %}
    </div>
  </div>
</div>
{% endblock body %}