{% extends "base.html" %}
{% block body %}

<!-- component -->
<section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>

    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <img class="mx-auto h-12" src="" alt="">
      <figure class="mt-10">
        <blockquote class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
          <p>“{{ joke.content }}”</p>
        </blockquote>

        <div class="flex justify-end">
            {% if is_favorite %}
            <i class='bx bxs-heart text-red-500'></i>

            {% else %}
            <form method="post" action="{% url 'dad_joke:add_favorite' joke.joke_id %}">
                {% csrf_token %}
                <button type="submit"><i class='bx bx-heart text-red-500' ></i></button>
            </form>
            {% endif %}
        </div>


        <figcaption class="mt-10">
          <div class="mt-4 flex items-center justify-center space-x-3 text-base">
            <div class="font-semibold text-gray-900">Provided by </div>
            <div class="text-gray-600"> - icanhazdadjoke</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>

  <div class="flex justify-center mt-5">
    <a href="." class="block bg-gray-100 hover:bg-gray-300 px-10 py-5 rounded-md">
        <i class='bx bx-loader-circle'></i>Next
    </a>
  </div>

<!-- <h2>Comments</h2>
<ul>
    {% for comment in comments %}
        <li>{{ comment.user.username }}: {{ comment.content }}</li>
    {% endfor %}
</ul>

<h3>Add a Comment</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form> -->
{% endblock body %}
