{% extends 'base.html' %}
{% load static %}



{% block body %}
<div class="mx-auto max-w-7xl md:py-10 sm:px-6 lg:px-8">
  <div class="relative isolate overflow-hidden bg-teal-800 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
    <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:-translate-x-1/2 lg:translate-y-0" aria-hidden="true">
      <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
      <defs>
        <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
          <stop stop-color="#7775D6" />
          <stop offset="1" stop-color="#E935C1" />
        </radialGradient>
      </defs>
    </svg>
    <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">ようこそ、<br>「{{app_name}}」へ！</h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">「{{app_name}}」は、楽しくインタラクティブな方法で英語を学ぶための理想的なツールです。自分の力で考えて、書くことで、英語力を自然に伸ばすことができます。</p>
      <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
        <a href="{% url 'account_signup' %}" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">サインアップ</a>

        {% comment %} learn more ページを作成時　下のリンクを使用 {% endcomment %}
        {% comment %} <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a> {% endcomment %}
      </div>
    </div>
    <div class="relative mt-16 md:mt-5 lg:mt-8 h-80">
      <img class="absolute left-0 top-0 w-[30rem] md:w-[50rem] lg:w-[40rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10" src="{% static 'app/snapcorrect-main.jpg' %}" alt="{{app_name}}" width="1500" height="900">
    </div>
  </div>
</div>





<div class="flex justify-center pt-5">
  <h2 class="text-3xl font-bold text-gray-800">Excrcises</h2>
</div>

<div class="flex justify-center flex-wrap 2xl:mx-20">

    {% include "includes/cards/writing.html" %}
    {% include "includes/cards/joke.html" %}
    <!-- Add more excrcises -->

</div>


{% endblock body %}
