{% extends "base.html" %}

{% block body %}

      <!-- gallary -->
      <div class="col-md-9">
        <div class="row">

          <div class= "col-md-4">

            <div class="card my-2">
              <img src="https://www.popsci.com/uploads/2022/07/11/josue-isai-ramos-figueroa-n2NBgIx3A28-unsplash.jpg?auto=webp&optimize=high&width=1440" class="card-img-top " alt="...">
              <div class="card-body">
                <small>カテゴリ：乗り物</small>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <a href="##" class="btn btn-outline-dark btn-sm m-1">ビュー</a>
            </div>

          </div>

        </div>
      </div>
<!-- end gallary -->
{% endblock body %}