{% extends "base.html" %}
{% load static %}

{% block section_title %}Writing{% endblock section_title %}

{% block body %}
<form method="post">

  <div class="lg:flex lg:justify-center lg:px-10  grid-cols-2">
    <div class="px-5 lg:px-0 py-3 flex justify-center lg:max-w-6xl lg:max-h-4xl" style="height: 500px;" >
      <img src="{{photo.image.url }}" alt="{{photo.title}}">
      <input type="hidden" name="photo" value="{{ photo.id }}">
    </div>
    <div class="flex justify-center px-5 py-3 lg:px-0">
      
      {% csrf_token %}
      {{ form.text }}
    </div>
    
    
  </div>
  <div class="flex justify-center">
    <button type="submit" class="btn overflow-hidden relative w-64 bg-orange-200 text-white py-4 px-4 rounded-xl font-bold uppercase -- before:block before:absolute before:h-full before:w-1/2 before:rounded-full before:bg-orange-400 before:top-0 before:left-1/4 before:transition-transform before:opacity-0 before:hover:opacity-100 hover:text-orange-200 hover:before:animate-ping transition-all duration-300">
      <span class="relative text-lg text-orange-700">提出</span>
    </button>
  </div>
  
</form>
<div class="flex justify-center py-10">
  <p>画像提供者 &ensp;</p>
  <a href="{% url 'photos:photographer' photo.photographer.id %}" class="hover:text-orange-500">{{photo.photographer.artist_name}}</a>
</div>

{% endblock body %}
